body {
  background-color: #C0C0C0;
  font-family: "Times New Roman", serif;
}

body.home {
    background-image: url("images/bg.png");
    background-repeat: repeat; 
}

.container {
  width: 600px;
  background: white;
  padding: 10px;
  border: 2px solid black;
}

.header {
  display: flex;
  justify-content: space-between;
}

.overlay {
  margin-top: 20px;
  padding: 10px;
  border: 2px dashed red;
  background: #fff0f0;
  color: darkred;
  font-weight: bold;
  font-size: 2em;
}

.footer {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
}

/* Terminal style pages */
.terminal {
  background: black;
  color: #00ff00;
  font-family: monospace;
}

input {
  padding: 5px;
  margin: 5px;
}

.node {
	font-size: 1.1em;
	font-weight: 700;
	color: green;
}

.secret-unlocked {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100vw - 10px);
	height: calc(100vh - 10px);
	display: block;
	background-color: black;
	border: 5px solid red;
	color: red;
	align-content: center;
	text-align: center;
	animation: staticEntrance 3s ease-out forwards;
	transform: translateY(20px);
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(20px); }
}


.static-entrance {
  /* Animation: name | duration | timing | delay | fill-mode */
  animation: staticEntrance 3s ease-out forwards;
  
  /* Initial state before animation */
  opacity: 0;
  transform: translateY(20px);
}

@keyframes staticEntrance {
  /* 0% to 30% acts as a static/delay phase */
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  30% {
    opacity: 0;
    transform: translateY(20px);
  }
  /* Animation happens between 30% and 100% */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
